---
layout: default
permalink: "/sitemap/"
title: Sitemap
menu:
  main:
    weight: 4

---
<h1 class="page-title">Sitemap</h1>
<ul class="posts">
  <li><h2 class="posts-label">Posts</h2></li>
  {% for post in site.posts %}
    {% unless post.published == false %}
      <li>
        <a class="post-link" href="{{ site.url }}{{ post.url }}">
          <h3 class="post-title">{{ post.title }}</h3>
        </a>
      </li>
    {% endunless %}
  {% endfor %}
  <li><h2 class="posts-label">Pages</h2></li>
  {% for item in site.menus.main %}
    <li>
      <a class="post-link" href="{{ site.url }}/{{ item.url | remove: "index.html" }}">
        <h3 class="post-title">{{ item.title }}</h3>
      </a>
    </li>
  {% endfor %}
</ul>
