.blog {
  article {
    border-bottom: 1px solid $alabaster;
    margin-bottom: 40px;
    padding-bottom: 40px;
    width: 100%;

    &:nth-of-type(1) {
      padding-top: 40px;
    }
  }

  h2 {
    &::after {
      content: none;
    }
  }

  h3 {
    display: block;
    font-size: .8em;
    font-style: oblique;
    line-height: 1.15;
  }
}
