.contact {
  legend {
    align-self: flex-end;
    color: $bright-gray;
    display: inline-flex;
    font-size: 14px;
    font-style: oblique;
    margin-bottom: 20px;
    text-align: right;
    width: 100%;
  }

  input,
  textarea {
    border: 1px solid $alabaster;
    border-radius: 2px;
    height: 35px;
    line-height: 35px;
    margin: 0 0 20px;
    padding: 0 15px;
    width: calc(100% - 30px);

    &:focus {
      outline-color: $primary-color;
    }

    &::placeholder {
      color: $alto;
      font-size: 14px;
      font-style: oblique;
    }
  }

  textarea {
    height: 100px;
  }

  [type='submit'] {
    background: $primary-color;
    border: 0;
    color: $white;
    display: flex;
    line-height: 34px;
    margin: 0 auto;
    padding: 0 20px;
    width: auto;
  }
}
