footer {
  border-top: 1px solid $alto;
  clear: both;
  display: flex;
  justify-content: space-between;
  margin: 60px auto 100px;
  max-width: 840px;
  padding: 20px 20px 0;
  width: 90%;

  @include bp(iphone-6-landscape) {
    display: block;
  }

  p {
    color: $bright-gray;
    height: 32px;
    line-height: 32px;
    margin: 0;

    @include bp(ipad-mini) {
      font-size: .9em;
    }

    @include bp(iphone-6-plus-landscape) {
      font-size: .8em;
    }

    @include bp(iphone-6-landscape) {
      margin-bottom: 20px;
      text-align: center;
      width: 100%;
    }
  }

  ul {
    height: 32px;
    margin: 0;
    padding: 0;

    @include bp(iphone-6-landscape) {
      display: table;
      margin: 0 auto;
    }
  }

  li {
    display: inline-block;
    margin-right: 10px;

    &:nth-last-of-type(1) {
      margin-right: 0;
    }
  }

  a {
    background-color: $alto;
    background-repeat: no-repeat;
    border: 0;
    display: block;
    height: 32px;
    text-indent: -9999em;
    transition: background-color .5s ease-in-out;
    width: 32px;
  }

  [title] {
    border-bottom: 0;
  }

  .dribbble {
    mask: url('/images/dribbble-circle-compressor.svg') no-repeat 50% 50%;

    &:hover {
      background-color: $dribbble;
    }
  }

  .facebook {
    mask: url('/images/facebook-circle-compressor.svg') no-repeat 50% 50%;

    &:hover {
      background-color: $facebook;
    }
  }

  .github {
    mask: url('/images/github-circle-compressor.svg') no-repeat 50% 50%;

    &:hover {
      background-color: $github;
    }
  }

  .googleplus {
    mask: url('/images/googleplus-circle-compressor.svg') no-repeat 50% 50%;

    &:hover {
      background-color: $googleplus;
    }
  }

  .linkedin {
    mask: url('/images/linkedin-circle-compressor.svg') no-repeat 50% 50%;

    &:hover {
      background-color: $linkedin;
    }
  }

  .rss {
    mask: url('/images/rss-circle-compressor.svg') no-repeat 50% 50%;

    &:hover {
      background-color: $rss;
    }
  }

  .twitter {
    mask: url('/images/twitter-circle-compressor.svg') no-repeat 50% 50%;

    &:hover {
      background-color: $twitter;
    }
  }

  .racecarstudio {
    mask: url('/images/racecarstudio-circle-compressor.svg') no-repeat 50% 50%;

    &:hover {
      background-color: $racecarstudio;
    }
  }
}
