header,
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-width: 840px;
  width: 90%;
}

aside {
  display: inline-block;
  width: 35%;
}

article {
  display: inline-block;
  width: 65%;

  &:nth-of-type(1) {
    border-top: 3px solid $black;
    padding-top: .8rem;
  }
}

body:not(.resume) {
  header {
    justify-content: flex-start;
  }
}
