header,
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-width: 840px;
  width: 90%;
}

aside {
  display: inline-block;
  width: 35%;

  @include bp(iphone-6-plus) {
    margin-bottom: 20px;
    width: 100%;
  }
}

article {
  display: inline-block;
  width: 65%;

  @include bp(iphone-6-plus) {
    width: 100%;
  }

  &:nth-of-type(1) {
    border-top: 3px solid $black;
    padding-top: .8rem;
  }
}

body:not(.resume) {
  header {
    justify-content: flex-start;
  }
}

.contact,
.index,
.my-work,
.thank-you {
  section {
    justify-content: flex-start;
  }

  aside {
    span {
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.15;
    }

    address {
      font-size: .8em;
      font-style: normal;
      margin-bottom: .8rem;
      width: 120px;
    }

    a {
      display: block;
      font-size: .8em;
    }
  }

  h1 {
    margin-bottom: 40px;
    width: 100%;
  }

  h2 {
    margin-bottom: 20px;
  }
}
