nav {
  background-color: $shark;
  font-size: 0.75em;

  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
    width: 90%;

    @include bp(iphone-6-plus) {
      justify-content: flex-start;
    }
  }

  span {
    display: none;
  }

  a {
    color: $white;
    display: inline-block;
    padding: 15px 30px;

    @include bp(iphone-6-plus) {
      padding: 15px 28px;
    }

    @include bp(iphone-6) {
      padding: 15px 24px;
    }

    @include bp(iphone-5) {
      padding: 15px 18px;
    }

    &:hover {
      background-color: $bright-gray;
    }
  }
}
