.posts {
  article {
    width: 100%;
  }

  h1 {
    margin-bottom: 40px;
    margin-top: 10px;
  }

  h2 {
    margin-bottom: 10px;

    &::after {
      content: none;
    }
  }

  .highlight {
    margin-bottom: 10px;
  }

  blockquote {
    border-left: 5px solid $alto;
    margin: 20px 0;
    padding: 10px 0 20px 40px;
  }
}
