$alto: #d5d5d5;
$black: #000000;
$gray: #666666;
$magenta: #ff0ff0;
$orange: #e65100;
$silver-chalice: #aaaaaa;
$silver: #c0c0c0;

$dribbble: #ea4c89;
$facebook: #3b5998;
$github: #333333;
$googleplus: #dc4e41;
$linkedin: #0077b5;
$rss: #f26522;
$twitter: #55acee;
$racecarstudio: #a11400;
