%footer
  %p &copy; 1987 - 2016 Bennie Mosher. All Rights Reserved.
  %ul
    %li
      %a.dribbble{:href => "http://dribbble.com/benniemosher", :itemprop => "url", :rel => "me", :target => "_blank", :title => "Dribbble"}
        %span.username Dribbble
    %li
      %a.facebook{:href => "https://facebook.com/benniemosher", :itemprop => "url", :rel => "me", :target => "_blank", :title => "Facebook"}
        %span.username Facebook
    %li
      %a.github{:href => "https://github.com/benniemosher", :itemprop => "url", :rel => "me", :target => "_blank", :title => "Github"}
        %span.username Github
    %li
      %a.googleplus{:href => "https://plus.google.com/+benniemosher87", :itemprop => "url", :rel => "author", :target => "_blank", :title => "Google+ Profile"}
        %span.username Google+
    %li
      %a.linkedin{:href => "https://www.linkedin.com/in/benniemosher", :itemprop => "url", :rel => "me", :target => "_blank", :title => "LinkedIn"}
        %span.username LinkedIn
    %li
      %a.rss{:href => "https://benniemosher.com/feed.xml", :target => "_blank"}
        %span RSS
    %li
      %a.twitter{:href => "https://twitter.com/benniemosher", :itemprop => "url", :rel => "me", :target => "_blank", :title => "Follow Me on Twitter!"}
        %span.username Twitter
    %li
      %a.racecarstudio{:href => "https://racecarstudio.com", :target => "_blank"}
        %span.username Racecar Studio
