%header
	%aside
		%h1
			Bennie
			%br
			Mosher
		%h2 Problem Solver
	%article
		%span Bennie Mosher
		%address
			215 10th Street
			Windsor, CO 80550
		%a{ href: 'callto:+19705902040', target: '_blank' } +1 (970) 590-2040
		%a{ href: 'mailto:benniemosher@gmail.com', target: '_blank' } benniemosher@gmail.com
