%nav
  %div
    %span.name Bennie Mosher
    %span.position Software Engineer
    %a{ href: '/' } Home
    %a{ href: '/resume' } Resume
    %a{ href: '/blog' } Blog
    %a{ href: '/contact' } Contact
