---
title: Welcome to Bennie Mosher
---
%section
  %h1 Welcome!
  %aside
    %span Bennie Mosher
    %address
      215 10th Street
      Windsor, CO 80550
    %a{ href: 'callto:+19705902040', target: '_blank', rel: 'noopener' } +1 (970) 590-2040
    %a{ href: 'mailto:benniemosher@gmail.com', target: '_blank', rel: 'noopener' } benniemosher@gmail.com
  %article
    %p I am an engineer at heart and have worked on projects in the fields of internet marketing, elective healthcare, taxes, public transit, security, and ecommerce. I am truly passionate about agile practices, test driven development, cross-platform user interfaces, simple clean coding practices, and teaching and leading software development. I love learning new languages and frameworks and can be a strong asset to an engineering team that is based on collaboration and creativity.
    %p I am most familiar with Ruby, Rails, PHP, JavaScript, PostgreSQL, MySQL, HTML, SASS, CSS  and other ancillary libraries and frameworks such as Zepto, jQuery, Bourbon and Neat, Twitter Bootstrap, and Zurb Foundation.
    %p I have a strong desire to grow as an engineer. I am always striving to be a more pragmatic engineer, and I want to work with a company that has the same desire. While I would be most comfortable to work on a project which employs the technologies I am familiar with, I pick up languages and frameworks quickly and would be happy to acquire new skills and knowledge. I want to work with people who truly believe in the product or service they are bringing to market. Passion and dedication is highly contagious. I am interested in both front and backend positions, particularly when they require cross-platform support. I am interested in companies which operate in all industries, but of particular interest are e-commerce, space, science, and big data.
