---
title: Bennie Mosher's Projects
---
%section
  %h1 My Work
  %aside
    %span Bennie Mosher
    %address
      215 10th Street
      Windsor, CO 80550
    %a{ href: 'callto:+19705902040', target: '_blank' } +1 (970) 590-2040
    %a{ href: 'mailto:benniemosher@gmail.com', target: '_blank' } benniemosher@gmail.com
  %article
    %h2 My Personal Site
    %p Originally my personal website was done using WordPress. At the time, I was pumping out Wordpress sites in my sleep so this seemed logical for me. However, in the last year or so I have come to realize that WordPress is extremely complicated for a simple four page website ran by a software engineer. Due to that, I decided to step away from WordPress for my personal site and started using Jekyll, which then transitioned into Assemble.io, and I have finally landed on Middleman to help me generate a static site. The github link is here <a href='https://github.com/benniemosher/me' target='_blank'>https://github.com/benniemosher/me</a>.

    %h2 Starter Press
    %p I have a very simple and basic starter WordPress theme that I try to update when I use something new that I think should go into every new website. You can view the github repository for that here <a href="https://github.com/racecarstudio/starter-press" target="_blank">https://github.com/racecarstudio/starter-press</a>.

    %h2 Racecar Studio

    %h3 Wordpress Theme
    %p The company that I usually run my freelance projects through was once on a WordPress install. I still have the theme repository which you can view here <a href="https://github.com/racecarstudio/racecarstudio" target="_blank">https://github.com/racecarstudio/racecarstudio</a>.

    %h3 Jekyll Site
    %p The company website, much like my personal site, just did not make sense to have on a WordPress install for myself anymore. So I joined the masses here as well and moved it to a Jekyll website. You can view the repistory for this site here <a href="https://github.com/racecarstudio/racecarstudio.com" target="_blank">https://github.com/racecarstudio/racecarstudio.com</a>.

    %h2 Pong Master
    %p At a previous employer we used to play ping-pong a lot and bet each other on matches. We kept losing track of our wins/losses and bet amounts, so I set out to build a small Rails app to do this. I recently last year pulled the repo back down and updated it to use the latest Ruby and Rails and updated a lot of the specs that I had. No one was using the website, so I took the application down, but you can view the repository here <a href="https://github.com/benniemosher/pong-master" target="_blank">https://github.com/benniemosher/pong-master</a>.

    %p When I originally built this project in 2013 it was a huge learning project for me, learning how to build a Rails project from scratch. In 2015 when I went back and upgraded it I learned how to upgrade Rails and Ruby on an old project, as well as I learned a lot more about unit and controller testing. I ran the project through codeclimate.com, houndci.com, and coveralls.io to make sure that my code was the cleanest it could be and that I had full test coverage.

    %p I think that the biggest challenge that I had to overcome was really my own knowledge and frustrations. The Rails community has been great at documenting problems that they hit and how to fix them, I just had to be smarter than Google and find the right pages. Once I was able to do that, I was able to learn so much from this project.

    %h2 Logged.today
    %p A while back I often was forgetting what I was doing the day before, so in stand up my response was "Yesterday I did stuff." I wasn't very fond of that answer, so I built a simple Rails tool for myself that was later replaced by other apps like Jell, Tatsu, Geekbot, Standup Bot, and Scrumbot. The application would send you an email at the end of every day, and I would simply reply to the email with what I had done for that day. Then the next day I could see a list of what I did yesterday, plus previous entries. I had planned on doing more features for this app, and then the aforementioned applications came out. You can view my project at <a href="https://github.com/benniemosher/logged.today" target="_blank">https://github.com/benniemosher/logged.today</a>.

    %h2 While employed at Rosemont Media
    %p While I worked at Rosemont Media, I helped build 100+ WordPress websites with the team there.

    %h2 While working with AshWebStudio
    %p I have done many freelance projects with AshWebStudio. I worked with AshWebStudio for quite a few years and together we built multiple WordPress websites, some simple and some that utilized ecommerce plugins such as FoxyCart, WooCommerce, and others.

    %h2 Other Wordpress Projects
    %p Throughout the years I have built many WordPress websites as freelance projects, but unfortunately when I look at them now they have been updated. I can give you a list of those if you would like for references.
