---
title: Welcome to Bennie Mosher
hide_from_sitemap: true
---
%section
  %h1 Thank You!
  %aside
    %span Bennie Mosher
    %address
      215 10th Street
      Windsor, CO 80550
    %a{ href: 'callto:+19705902040', target: '_blank', rel: 'noopener' } +1 (970) 590-2040
    %a{ href: 'mailto:benniemosher@gmail.com', target: '_blank', rel: 'noopener' } benniemosher@gmail.com
  %article
    %h2 Thank you for reaching out!
    %p I really appreciate you reaching out. Your submission has probably hit my inbox by now, and I promise that I will read it and respond within the next 24 hours.
    %p I look forward to hopefully working with you soon, and hope that the rest of your day is stellar!
    %p Thanks!
